doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Miguel Matey Sanz

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.6.0/js/all.js', crossorigin='anonymous')

        // Plumx
        script(src="https://cdn.plu.mx/widget-popup.js")

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Miguel Matey Sanz
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/me.jpeg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#research') Research Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Miguel
                        span.text-primary Matey Sanz
                    .subheading.mb-5
                        | Bachelor's degree in Computer Science · Master's degree in Intelligent Systems · PhD in Computer Science
                    p.lead.mb-5
                        | I completed my bachelor's degree in Computer Science specialized in software engineering at
                        | Universitat Jaume I in 2019. In the meantime, I was also participating in the "Estudia i Investiga"
                        | program, which allowed me to join the GEOTEC research group and get started with the research world.
                        | I completed my training studying a master in Intelligent Systems in the same university.
                    p.lead.mb-5
                        | From 2020 to 2024, I did a PhD in Computer Science focused in human activity recognition using smart devices
                        | and its applications to the health domain. My other research interests are the machine learning and
                        | the indoor positioning.
                    p.lead.mb-5
                        | Currently, I work as a researcher in the GEOTEC research group and as Invited Professor at
                        | Universitat Jaume I.
                    .social-icons
                        a.social-icon#github(href='https://github.com/matey97', target='_blank')
                            i.fab.fa-github
                        a.social-icon#linkedin(href='https://www.linkedin.com/in/miguel-matey-sanz-0b2905177/', target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon#orcid(href='https://orcid.org/0000-0002-1189-5079', target='_blank')
                            i.fab.fa-orcid
                        a.social-icon#scholar(href='https://scholar.google.es/citations?user=YYD5kJ4AAAAJ', target='_blank')
                            i.fas.fa-user-graduate

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    ul.timeline
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail October 2020 - October 2024
                                h3 PhD in Computer Science
                                h4 GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p Doctoral Thesis: #[strong Human Activity Recognition with Consumer Devices and Real-Life Perspectives]
                                    a(href="http://dx.doi.org/10.6035/14101.2024.663821", target="_blank")
                                        img.doi(src="assets/img/doi.png")
                                    br
                                    | Grade: Excellent "Cum Laude"
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail September 2019 - September 2020
                                h3 Master's degree in Intelligent Systems
                                h4 Universitat Jaume I, Castellón de la Plana, Spain
                                p Average grade: 9.8
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail September 2015 - June 2019
                                h3 Bachelor's degree in Computer Science
                                h4 Universitat Jaume I, Castellón de la Plana, Spain
                                p Average grade: 9.35

            hr.m-0

            // Experience
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience

                    ul.timeline
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail November 2024 - Present
                                h3 Assistant Researcher
                                h4 Postdoc researcher at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail October 2024 - Present
                                h3 Invited Professor
                                h4 Department of Computer Systems and Languages, Universitat Jaume I
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail January 2019 - April 2019
                                h3 Collaboration grant
                                h4 Developer at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p
                                    | Development of a catalogue Android application for the library of the university,
                                    | enabling users to search and find their desired books.
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail October 2018 - December 2018
                                h3 Anytime Project
                                h4 Developer at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p
                                    | The Anytime (Apps To Improve Mental Health) project consisted in the exploration
                                    | of the gamification and the geolocation to support psychological treatments.
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail April 2018 - June 2018
                                h3 Research grant
                                h4 Developer at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p
                                    | Integration of advanced machine learning techniques for an indoor positioning
                                    | system based on Wi-Fi and Bluetooth technologies.
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail September 2017 - December 2017
                                h3 ILDUM Project
                                h4 Developer at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p
                                    | The ILDUM (Indoor Location Demonstrator in the University Campus) project
                                    | consisted on the development of an Android application for
                                    | indoor positioning and navigation in the library of the university.
            hr.m-0

            // Research projects
            section#research.resume-section
                .resume-section-content
                    h2.mb-5 Research Projects

                    ul.timeline
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail September 2023 - Present
                                h3 SyMptOMS-JIT: Just-in-Time Sensor-based mHealth Development Framework applied to In Vivo Exposure in Anxiety Disorders
                                h4 Researcher at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p
                                    | R+D national coordinated project (subproject PID2022-140475OB-C22) whose aim is to
                                    | extend the previously developed framework for JIT interventions with a set of applications
                                    | (e.g., configurable mobile application, management tool for therapists, visualization tool)
                                    | and to validate them in a randomized controlled trial (RCT).
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail September 2021 - August 2023
                                h3 Sensors and Mobile based Mental Health Solutions: Exposure Therapy
                                h4 Researcher at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p
                                    | R+D national project (PID2020-120250RB-I00) whose aim was to explore develop an application
                                    | to support the psychological assessment and intervention of agoraphobia patients using
                                    | geolocation, geofencing and periodical questionnaires.
                        li.timeline-event
                            label.timeline-event-icon
                            div.timeline-event-copy
                                p.timeline-event-thumbnail January 2019 - December 2020
                                h3 Sensors and Mobile based Mental Health Solutions
                                h4 Researcher at GEOTEC Research Group, Institute of New Imaging Technologies, Universitat Jaume I
                                p
                                    | R+D national project (RTI2018-099939-B-I00) whose aim was to explore how the capabilities
                                    | of the smartphones and other devices can be employed for the development of new psychological
                                    | assessment and intervention methods.
            hr.m-0

            //Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications

                    ul.paper-list
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.journal
                                    h4
                                        | Implementing and evaluating the Timed Up and Go test automation using smartphones and smartwatches
                                        span.badge.rank-a JCR2023 Q1 - IF 6.7
                                        a(href="https://doi.org/10.1109/JBHI.2024.3456169", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10669777", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Miguel Matey-Sanz, Alberto González-Pérez, Sven Casteleyn, Carlos Granell
                                    h5.light
                                        i IEEE Journal of Biomedical and Health Informatics, 2024
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1109/JBHI.2024.3456169").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.journal
                                    h4
                                        | Towards a self-applied, mobile-based geolocated exposure therapy software for anxiety disorders: SyMptOMS-ET app
                                        span.badge.rank-b JCR2023 Q2 - IF 2.9
                                        a(href="https://doi.org/10.1177/20552076241283942", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://journals.sagepub.com/doi/epub/10.1177/20552076241283942", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Alberto González-Pérez, Laura Díaz-Sanahuja, Miguel Matey-Sanz, Jorge Osma, Carlos Granell, Juana Bretón-López, Sven Casteleyn
                                    h5.light
                                        i Digital Health, 2024
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1177/20552076241283942").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.conference
                                    h4
                                        | Analysis and impact of training set size in cross-subject human activity recognition
                                        span.badge.rank-c ICORE C
                                        a(href="https://doi.org/10.1007/978-3-031-49018-7_28", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                    h5.light Miguel Matey-Sanz, Joaquín Torres-Sospedra, Alberto González-Pérez, Sven Casteleyn, Carlos Granell
                                    h5.light
                                        i Iberoamerican Congress on Pattern Recognition, CIARP 2023
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1007/978-3-031-49018-7_28").plumx-plum-print-popup.plum-bigben-theme
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.journal
                                    h4
                                        | Dataset of inertial measurements of smartphones and smartwatches for human activity recognition
                                        span.badge.rank-c JCR2022 Q3 - IF 1.2
                                        a(href="https://doi.org/10.1016/j.dib.2023.109809", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://repositori.uji.es/xmlui/bitstream/handle/10234/205731/matey_2023.pdf?sequence=1", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Miguel Matey-Sanz, Sven Casteleyn, Carlos Granell
                                    h5.light
                                        i Data in Brief, 2023
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1016/j.dib.2023.109809").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.conference
                                    h4
                                        | Temporal stability on human activity recognition based on Wi-Fi CSI
                                        span.badge.rank-c ICORE C
                                        a(href="https://doi.org/10.1109/IPIN57070.2023.10332214", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://drive.google.com/file/d/1dOpwIFvaxRfYzZi2GdeYq1UiWbQYApu9/view", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Miguel Matey-Sanz, Joaquín Torres-Sospedra, Adriano Moreira
                                    h5.light
                                        i International Conference on Indoor Positioning and Indoor Navigation, IPIN 2023
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1109/IPIN57070.2023.10332214").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.journal
                                    h4
                                        | AwarNS: A framework for developing context-aware reactive mobile applications for health and mental health
                                        span.badge.rank-b JCR2023 Q2 - IF 4
                                        a(href="https://doi.org/10.1016/j.jbi.2023.104359", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://repositori.uji.es/xmlui/bitstream/handle/10234/202645/gonzalez_2023_awar.pdf?sequence=1", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Alberto González-Pérez, Miguel Matey-Sanz, Carlos Granell, Laura Díaz-Sanahuja, Juana Bretón-López, Sven Casteleyn
                                    h5.light
                                        i Journal of Biomedical Informatics, 2023
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1016/j.dib.2023.109809").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.conference
                                    h4
                                        | Instrumented timed up and go test using inertial sensors from consumer wearable devices
                                        span.badge.rank-b ICORE B
                                        a(href="https://doi.org/10.1007/978-3-031-09342-5_14", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://drive.google.com/file/d/14jlR-Iwxcjm_7aInISR6I1KBI1anP35H/view", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Miguel Matey-Sanz, Alberto González-Pérez, Sven Casteleyn, Carlos Granell
                                    h5.light
                                        i International Conference on Artificial Intelligence in Medicine, AIME 2022
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1007/978-3-031-09342-5_14").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.journal
                                    h4
                                        | Using mobile devices as scientific measurement instruments: reliable android task scheduling
                                        span.badge.rank-b JCR2022 Q2 - IF 4.3
                                        a(href="https://doi.org/10.1016/j.pmcj.2022.101550", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://repositori.uji.es/xmlui/bitstream/handle/10234/196827/79792_GonzalezPerezA_2022.pdf?sequence=1", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Alberto González-Pérez, Miguel Matey-Sanz, Carlos Granell, Sven Casteleyn
                                    h5.light
                                        i Pervasive and Mobile Computing, 2022
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1016/j.pmcj.2022.101550").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.journal
                                    h4
                                        | A comprehensive and reproducible comparison of clustering and optimization rules in wi-fi fingerprinting
                                        span.badge.rank-a JCR2022 Q1 - IF 7.9
                                        a(href="https://doi.org/10.1109/TMC.2020.3017176", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://trepo.tuni.fi/bitstream/handle/10024/127659/A_Comprehensive_and_Reproducible_Comparison_2020.pdf?sequence=1", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Joaquín Torres-Sospedra, Philipp Richter, Adriano Moreira, Germán M Mendoza-Silva, Elena Simona Lohan, Sergio Trilles, Miguel Matey-Sanz, Joaquín Huerta
                                    h5.light
                                        i IEEE Transactions on Mobile Computing, 2020
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1109/TMC.2020.3017176").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.conference
                                    h4
                                        | Exploiting different combinations of complementary sensor’s data for fingerprint-based indoor positioning in industrial environments
                                        span.badge.rank-c ICORE C
                                        a(href="https://doi.org/10.1109/IPIN.2019.8911758", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                    h5.light Joaquín Torres-Sospedra, Adriano Moreira, Germán M Mendoza-Silva, Maria João Nicolau, Miguel Matey-Sanz, Ivo Silva, Joaquín Huerta, Cristiano Pendão
                                    h5.light
                                        i International Conference on Indoor Positioning and Indoor Navigation, IPIN 2019
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.1109/IPIN.2019.8911758").plumx-plum-print-popup
                        li
                            div.paper
                                div.paper-info
                                    span.paper-type.journal
                                    h4
                                        | BLE RSS measurements dataset for research on accurate indoor positioning
                                        span.badge.rank-b SJR2019 Q2 - IF 2.6
                                        a(href="https://doi.org/10.3390/data4010012", target="_blank")
                                            img.doi(src="assets/img/doi.png")
                                        a(href="https://repositori.uji.es/xmlui/bitstream/handle/10234/182509/Mendoza_2019_BLE.pdf?sequence=1", target="_blank")
                                            img.pdf(src="assets/img/file-pdf-regular.svg")
                                    h5.light Germán Martín Mendoza-Silva, Miguel Matey-Sanz, Joaquín Torres-Sospedra, Joaquín Huerta
                                    h5.light
                                        i MDPI Data, 2019
                                div.paper-metrics
                                    a(href="https://plu.mx/plum/a/?doi=10.3390/data4010012").plumx-plum-print-popup

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Web development
                    .d-flex.flex-row.align-items-center.dev-icons
                        i.fab.fa-html5(data-toogle='tooltip', title='HTML')
                        i.fab.fa-css3-alt(data-toogle='tooltip', title='CSS')
                        i.fab.fa-angular(data-toogle='tooltip', title='Angular')
                        i.fab.fa-node-js(data-toogle='tooltip', title='JavaScript')
                        img.svg-icon(src='assets/img/typescript.svg', data-toogle='tooltip', title='TypeScript')
                        i.fab.fa-npm(data-toogle='tooltip', title='Node Package Manager')
                    br
                    .subheading.mb-3 Mobile development
                    .d-flex.flex-row.align-items-center.dev-icons
                        i.fab.fa-android(data-toogle='tooltip', title='Android')
                        i.fab.fa-java(data-toogle='tooltip', title='Java')
                        img.svg-icon(src='assets/img/kotlin.svg', data-toogle='tooltip', title='Kotlin')
                        img.svg-icon(src='assets/img/nativescript.svg', data-toogle='tooltip', title='NativeScript')
                    br
                    .subheading.mb-3 Data science & Machine learning
                    .d-flex.flex-row.align-items-center.dev-icons
                        i.fab.fa-python(data-toogle='tooltip', title='Python')
                        img.svg-icon(src='assets/img/numpy.svg', data-toogle='tooltip', title='Numpy')
                        img.svg-icon.large(src='assets/img/pandas.svg', data-toogle='tooltip', title='Pandas')
                        img.svg-icon.large(src='assets/img/plotly.svg', data-toogle='tooltip', title='Plotly')
                        img.svg-icon(src='assets/img/tensorflow.svg', data-toogle='tooltip', title='TensorFlow')

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Local winner of Datathon Cajamar UniversityHack 2021
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Outstanding Master´s Student Award, given by the Universitat Jaume I. Academic year 2019/20
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Award for Academic Excellence, given by the Generalitat Valenciana. Academic year 2018/19
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Outstanding Graduate Achievement Award, given by the Universitat Jaume I. Academic year 2018/19
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Universitat Jaume I Diploma of Academic Achievement. Academic year 2018/19
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Award for Academic Excellence to fourth-year degree students, given by the Universitat Jaume I. Academic year 2018/19
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Award for Academic Excellence to third-year degree students, given by the Universitat Jaume I. Academic year 2017/18
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Award for Academic Excellence to second-year degree students, given by the Universitat Jaume I. Academic year 2016/17
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Award for Academic Excellence to first-year degree students, given by the Universitat Jaume I. Academic year 2015/16

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
