//
// Colors
//

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;
$purple-dark: #21005D;
$purple-light: #EADDFF;

// Override Bootstrap color system

$orange: #bd5d38;
$purple: #6750A4;

// Override Bootstrap default state colors

$primary: $purple;
